<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zhutian.lefthand">

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!--点播播放器悬浮窗权限-->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!--存储-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:name=".main.SampleApplication"
        android:allowBackup="true"
        android:icon="@mipmap/my_launcher"
        android:label="@string/app_name"
        tools:replace="android:icon, android:theme"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--登录相关-->
        <activity android:name=".comment.activity.LoginActivity"/>
        <activity android:name=".comment.activity.RegisterActivity"/>
        <activity android:name=".comment.activity.ResetPassActivity"/>

        <!--个人中心相关-->
        <activity android:name=".my.activity.LoveActivity"/>
        <activity android:name=".my.activity.MessActivity"/>
        <activity android:name=".my.activity.XnbActivity"/>
        <activity android:name=".my.activity.FeeBackActivity"/>
        <activity android:name=".my.activity.ExtensionActivity"/>
        <activity android:name=".my.activity.HistoryActivity"/>
        <activity android:name=".my.activity.XnbDetailsActivity"/>
        <activity android:name=".my.activity.NoticeDetailsActivity"/>

        <!--搜索-->
        <activity android:name=".comment.activity.SearchActivity"/>
        <activity android:name=".main.activity.HtmlActivity"/>


        <!--影片相关-->
        <activity android:name=".specialcolumn.activity.SpecialDetailsActivity"/>
        <activity android:name=".specialcolumn.activity.HotsLabelActivity"/>
        <activity android:name=".specialcolumn.activity.HotsLadyActivity"/>
        <activity android:name=".specialcolumn.activity.RecommendActivity"/>
        <activity android:name=".comment.activity.AllTypeActivity"/>
        <activity android:name=".comment.activity.HighTypeActivity"/>
        <activity android:name=".specialcolumn.activity.AdultActivity"/>


        <activity android:name=".main.activity.WellComActivity"
            android:theme="@style/LaunchThem">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".main.activity.MainActivity"/>

        <!-- 屏幕适配 -->
        <meta-data
            android:name="design_width_in_dp"
            android:value="360" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="640" />

        <!--跨进程服务，用于不同栈activity跳转速度优化-->
        <service android:name=".comment.service.HideService"
                  android:process=":remote"/>



    </application>

</manifest>